.left{
    float:left;
}
.right{
    margin:auto;
}
.container{  
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_field{  
    display: flex;
    justify-content: center;
    align-items: center;
}
  